* {
    margin: 0;
    padding: 0;
}


h1 {
    display: flex;
    justify-content: center;
    margin:1rem 0;
}

.textArea {
    justify-content: center;
    align-items: center;
    display: flex;

    flex-direction: column;
}

#valueText {
    width: 15rem;
}

.elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:1rem;
}
.elements > div {
    margin: 0.5rem 0;
}